@model gtsiparis.Lokasyon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Lokasyon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Il)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Il)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ilce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemtBelde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemtBelde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mahalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mahalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostaKodu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostaKodu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
