@model gtsiparis.Rol

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RolAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lokasyon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokasyon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urun)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
