@model gtsiparis.Urun

<div class="row">
    <div class="col-sm-6">
        <table class="table-hover">
            <tr>
                <th>
                    <span style="font-weight:bold">Ürünün Adı:</span>
                </th>
                <th>
                    @Html.DisplayFor(model => model.Adi)
                </th> 
            </tr>

            <tr>
                <th>
                    <span style="font-weight:bold">Üretildiği Bölge :</span>
                </th>
                <th>
                    @Html.DisplayFor(model => model.UretimBolge)
                </th>
            </tr>
            <tr>
                <th>
                    <span style="font-weight:bold">Fiyatı :</span>
                </th>
                <th>
                    @Html.DisplayFor(model => model.Fiyat)
                </th>
            </tr>
            <tr>
                <th>
                    <span style="font-weight:bold">Stokta Kalan :</span>
                </th>
                <th>
                    @Html.DisplayFor(model => model.Stok.SonStok)
                </th>
            </tr>
        </table>

    </div>
    <div class="col-sm-4">Resim Gelecek</div>
    <div class="col-sm-2">
        <div class="SiparisEkle">
            <div class="navbar-collapse collapse">
                    @Html.ActionLink("Sepete Ekle", "UrunGosterDetay", "Genel", new { id = Model.Id , SipMik = 0}, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>

