@model gtsiparis.Siparis

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sipariş Siliniyor. </h2>

<h3>Siparişi Silmek İstediğinize Emin misiniz ? </h3>
<div>
    <h4>Siparis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kullanici.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kullanici.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urun.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urun.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miktar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miktar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
