@model gtsiparis.Urun

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Birim.BirimAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birim.BirimAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grup.GrupAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grup.GrupAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sorumlu.RefEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sorumlu.RefEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stok.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stok.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uretici.RefEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uretici.RefEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maliyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maliyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mesafe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mesafe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlinacakLokasyon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlinacakLokasyon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UretimBolge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UretimBolge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baslangic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslangic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bitis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bitis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aktif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunGorseli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunGorseli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
