@model IEnumerable<gtsiparis.Siparis>

@{
    ViewBag.Title = "TumSiparisler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TumSiparisler</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urun.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miktar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tutar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirimFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urun.Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miktar) | @Html.DisplayFor(modelItem => item.Urun.Birim.BirimAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tutar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirimFiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iade)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "EditAdmin", new { controller = "Siparis", id=item.Id }) |
            @Html.ActionLink("Sil", "Delete", "Siparis", new { id = item.Id })
        </td>
    </tr>
}

</table>
